<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ABS家居</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx736fd22e825a9ce5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1104874974</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>abs</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>abschinapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.2</string>
	<key>CMBPublicKey</key>
	<string>HwhR4Kwd9L4DCBzaWf9fYSh+ozaEHk7uLbnyO+mnvWTgpZQDmhhZQYcs4ntRARzA4D6S+4swUOqEIOZGdljNa0vBaUuX/9Dlv/WCw+3bYrt1WviUuXrNjq6zHr2YvVMRxGtzXyXC7edschM4bYbvz6V9UDLtj1KZ4CkvrOPOWm5ddqt5NvHN1X33vuNY1q+4u9NO+fenlBmp2b8mzrCH9rDRjF9mhCd8InCS+69kwsvVDlL51iuiu8N7DxcodTbP9FWlp7J9ItXhkZCE2IiCSBtanFEXTipdl3OnHRTn6uUBAZUwbpz0lzSlr4Jh2rfWT9qrmmQXcJ/DS3DUG/4+UQ==</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>urlscheme4</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>我们需要您的同意才能使用相机拍摄</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们要使用您的地址位置以推荐附近门店</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>我们需要您的同意才能读取媒体资料库</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
